<div class="w-50 p-4 m-auto">
    <h3 class="display-7 p-3 mb-2 text-bg-success">
        <strong>Name Of the Project : </strong>
        <%= project.name %>
    </h3>

    <h4 class="display-8 p-3 mb-2 bg-warning">
        <strong>Author : </strong>
        <%= project.author %>
    </h4>

    <h5 class="display-8 p-3 mb-2 bg-info">
        <strong>Description : </strong>
        <%= project.description %>
    </h5>

</div>
<%-include('./partials/_displayFilterSearchIssues');%>